
.icon-search-outline:before { content: '\e800'; } /* '' */
.icon-download-outline:before { content: '\e801'; } /* '' */
.icon-export-outline:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-thumbs-up:before { content: '\e804'; } /* '' */
.icon-user-outline:before { content: '\e805'; } /* '' */
.icon-users-outline:before { content: '\e806'; } /* '' */
.icon-heart-1:before { content: '\e807'; } /* '' */
.icon-heart-filled:before { content: '\e808'; } /* '' */
.icon-left-outline:before { content: '\e809'; } /* '' */
.icon-pause-outline:before { content: '\e811'; } /* '' */
.icon-play-outline:before { content: '\e815'; } /* '' */