.el-divider--horizontal {
  margin: 8px 0;
}

.rotate-90 {
  transform: rotate(90deg);
}

.el-drawer__wrapper {
  // right: initial;
  width: 455px;
  .el-drawer__header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem 1rem 0;
  }
  .el-drawer__body {
    padding: 0;
  }
  .drawer_content {
    width: 100%;
  }

  .pop-title {
    border-bottom: 1px solid #dadce0;
    padding: 1rem;
    font-size: 1.8rem;
    display: flex;
    .text {
      flex: 1;
    }
    .btn-close {
      cursor: pointer;
      color: #666;
      font-size: 2rem;
    }
  }
}

img.svg-icon {
  width: 16px;
  filter: invert(30%);
}

.icon-label {
  padding: 2px;
  font-size: 14px;
  width: 28px;
}
.field {
  margin-bottom: .3rem;
  font-size: 12px;
  height: 32px;
  &:not(:last-child) {
    margin-bottom: .3rem;
  }
  &.bottom-line {
    border-bottom: 1px solid #eee;
    padding-bottom: 2.5rem;
    margin-bottom: .8rem;
  }
  .control {
    font-size: 12px;
    line-height: 32px;
    margin-right: 4px;
  }
  .field-txt {
    padding: 0 8px;
    font-size: 12px;
    line-height: 28px;
  }

  .field-lb {
    width: 65px;
    text-align: right;
    padding-right: 8px;
    font-size: 12px;
    line-height: 32px;
  }
}
.control.space {
  padding: 2px 5px;
}
.control.paste {
  flex: 1;
  text-align: right;
  color: #666;
  i {
    font-size: 12px;
  }
}
.el-dialog__header {
  padding: 10px 20px;
}
.el-dialog__body {
  padding: 10px;
}

.el-checkbox__label {
  font-size: 12px;
  padding-left: 5px;
}
.el-input--suffix .el-input__inner {
  padding-right: 28px;
  padding-left: 10px;
}
.flex-column {
  flex-direction: column;
}

.el-textarea__inner {
  padding: 5px;
}

.el-radio {
  font-size: 12px;
  margin-right: 15px;
  .el-radio__label {
    padding-left: 5px;
  }
}

.el-input-number.is-controls-right .el-input__inner {
  padding-left: 2px;
  padding-right: 30px;
}
