.field {
  margin-bottom: .3rem;
  height: 32px;
  &:not(:last-child) {
    margin-bottom: .3rem;
  }
  &.bottom-line {
    border-bottom: 1px solid #eee;
    padding-bottom: 2.5rem;
    margin-bottom: .8rem;
  }
}

img.svg-icon {
  width: 16px;
  filter: invert(30%);
}

input[type='number'] {
  width: 65px;
}
.icon-label {
  padding: 2px;
  font-size: 14px;
  width: 28px;
}
.control.space {
  padding: 2px 5px;
}
.control.paste {
  flex: 1;
  text-align: right;
  color: #666;
  i {
    font-size: 12px;
  }
}
.el-dialog__header {
  padding: 10px 20px;
}
.el-dialog__body {
  padding: 10px;
}
