.el-divider--horizontal {
  margin: 8px 0;
}


img.svg-icon {
  width: 16px;
  filter: invert(30%);
}

input[type='number'] {
  width: 65px;
}
.icon-label {
  padding: 2px;
  font-size: 14px;
  width: 28px;
}
.control.space {
  padding: 2px 5px;
}
.control.paste {
  flex: 1;
  text-align: right;
  color: #666;
  i {
    font-size: 12px;
  }
}
.el-dialog__header {
  padding: 10px 20px;
}
.el-dialog__body {
  padding: 10px;
}
@media screen and (max-width: 640px) {
  .el-dialog__body {
  }
}
.flex-column {
  flex-direction: column;
}
