.tabs a {
  padding: 4px;
}

.field-label .label {
  font-size: 14px;
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .column {
    padding: 0!important;
  }
  .box {
    padding: 10px;
  }
  .field {
    display: flex;
  }
  .field-label {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 0;
    margin-right: 6px;
    width: 65px;
  }
}
