$family-primary: 'Karla', sans-serif;

@import '~bulma';
html, body {
  overflow-y: auto;
  font-family: 'Karla',Microsoft YaHei,tahoma,arial,Hiragino Sans GB,sans-serif;
  height: 100%;
}
@import "./overrides.css";
