@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/base/helpers.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/components/panel.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/helpers/_all.sass";

@import "../packages/fontello/css/fontello.css";


html, body {
  height:100%;
  background-color: transparent;
}
::-webkit-scrollbar-track
{
  background-color: #FEFEFE;
}

::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #f1f1f1;
}

