.site-page {
  color: #fff;
  font-size: 16px;
  background: linear-gradient(180deg, #0C003C 0%, #BFFFAF 120%), linear-gradient(165deg, #480045 25%, #E9EAAF 120%), linear-gradient(145deg, #480045 25%, #E9EAAF 100%), linear-gradient(300deg, rgba(233, 223, 255, 0) 0%, #AF89FF 100%), linear-gradient(90deg, #45EBA5 0%, #45EBA5 30%, #21ABA5 30%, #21ABA5 60%, #1D566E 60%, #1D566E 70%, #163A5F 70%, #163A5F 10%);
  background-blend-mode: overlay, overlay, overlay, multiply, normal;
  section.is-white {
    background: #fff;
  }
  .splash {
    h1 {
      font-size: 40px;
      text-align: center;
    }
    h2 {
      font-size: 22px;
      text-align: center;
    }
    height: 26rem;
    margin: 4rem 0;
  }
}
