.glitch-block {
  position: relative;
  z-index: 1;
  &:before,
  &:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:before {
    background-color: #00ffff;
    z-index: -1;
  }
  &:after {
    background-color: #ff00ff;
    z-index: -2;
  }
  &:hover {
    .link-inner {
      animation: glitchy 0.3s ease 1;
    }

    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

.glitch-text {
  position: relative;
  z-index: 1;
  &:before,
  &:after {
    content:attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    color: #00ffff;
    z-index: -1;
  }

  &:after {
    color: #ff00ff;
    z-index: -2;
  }

  &:hover {
    &:before {
      animation: glitchy 0.3s ease 0.3s infinite;
    }

    &:after {
      animation: glitchy 0.3s ease infinite reverse;
    }
  }
}

@keyframes glitchy {
  0%   {transform: translate(-2px, 2px);}
  25%  {transform: translate(-2px, -2px);}
  50%  {transform: translate(2px, 2px);}
  75%  {transform: translate(2px, -2px);}
  100%  {transform: translate(-2px, 2px);}
}
