@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
.scale-in-center{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-top{0%{transform:scale(0);transform-origin:50% 0;opacity:1}100%{transform:scale(1);transform-origin:50% 0;opacity:1}}
.scale-in-top{animation:scale-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-tr{0%{transform:scale(0);transform-origin:100% 0;opacity:1}100%{transform:scale(1);transform-origin:100% 0;opacity:1}}
.scale-in-tr{animation:scale-in-tr .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-right{0%{transform:scale(0);transform-origin:100% 50%;opacity:1}100%{transform:scale(1);transform-origin:100% 50%;opacity:1}}
.scale-in-right{animation:scale-in-right .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-br{0%{transform:scale(0);transform-origin:100% 100%;opacity:1}100%{transform:scale(1);transform-origin:100% 100%;opacity:1}}
.scale-in-br{animation:scale-in-br .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-bottom{0%{transform:scale(0);transform-origin:50% 100%;opacity:1}100%{transform:scale(1);transform-origin:50% 100%;opacity:1}}
.scale-in-bottom{animation:scale-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-bl{0%{transform:scale(0);transform-origin:0 100%;opacity:1}100%{transform:scale(1);transform-origin:0 100%;opacity:1}}
.scale-in-bl{animation:scale-in-bl .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-left{0%{transform:scale(0);transform-origin:0 50%;opacity:1}100%{transform:scale(1);transform-origin:0 50%;opacity:1}}
.scale-in-left{animation:scale-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-tl{0%{transform:scale(0);transform-origin:0 0;opacity:1}100%{transform:scale(1);transform-origin:0 0;opacity:1}}
.scale-in-tl{animation:scale-in-tl .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-hor-center{0%{transform:scaleX(0);opacity:1}100%{transform:scaleX(1);opacity:1}}
.scale-in-hor-center{animation:scale-in-hor-center .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-hor-left{0%{transform:scaleX(0);transform-origin:0 0;opacity:1}100%{transform:scaleX(1);transform-origin:0 0;opacity:1}}
.scale-in-hor-left{animation:scale-in-hor-left .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-hor-right{0%{transform:scaleX(0);transform-origin:100% 100%;opacity:1}100%{transform:scaleX(1);transform-origin:100% 100%;opacity:1}}
.scale-in-hor-right{animation:scale-in-hor-right .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-ver-center{0%{transform:scaleY(0);opacity:1}100%{transform:scaleY(1);opacity:1}}
.scale-in-ver-center{animation:scale-in-ver-center .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-ver-top{0%{transform:scaleY(0);transform-origin:100% 0;opacity:1}100%{transform:scaleY(1);transform-origin:100% 0;opacity:1}}
.scale-in-ver-top{animation:scale-in-ver-top .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes scale-in-ver-bottom{0%{transform:scaleY(0);transform-origin:0 100%;opacity:1}100%{transform:scaleY(1);transform-origin:0 100%;opacity:1}}
.scale-in-ver-bottom{animation:scale-in-ver-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

/*翻转*/
@keyframes flip-in-hor-bottom{0%{transform:rotateX(80deg);opacity:0}100%{transform:rotateX(0);opacity:1}}
.flip-in-hor-bottom{animation:flip-in-hor-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-hor-top{0%{transform:rotateX(-80deg);opacity:0}100%{transform:rotateX(0);opacity:1}}
.flip-in-hor-top{animation:flip-in-hor-top .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-ver-right{0%{transform:rotateY(-80deg);opacity:0}100%{transform:rotateY(0);opacity:1}}
.flip-in-ver-right{animation:flip-in-ver-right .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-ver-left{0%{transform:rotateY(80deg);opacity:0}100%{transform:rotateY(0);opacity:1}}
.flip-in-ver-left{animation:flip-in-ver-left .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-diag-1-tr{0%{transform:rotate3d(1,1,0,-80deg);opacity:0}100%{transform:rotate3d(1,1,0,0deg);opacity:1}}
.flip-in-diag-1-tr{animation:flip-in-diag-1-tr .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes flip-in-diag-2-tl{0%{transform:rotate3d(-1,1,0,80deg);opacity:0}100%{transform:rotate3d(1,1,0,0deg);opacity:1}}
.flip-in-diag-2-tl{animation:flip-in-diag-2-tl .5s cubic-bezier(.25,.46,.45,.94) both}

/*滑动*/
@keyframes slide-in-top{0%{transform:translateY(-100%);opacity:0}100%{transform:translateY(0);opacity:1}}
.slide-in-top{animation:slide-in-top .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-tr{0%{transform:translateY(-100%) translateX(100%);opacity:0}100%{transform:translateY(0) translateX(0);opacity:1}}
.slide-in-tr{animation:slide-in-tr .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-right{0%{transform:translateX(100%);opacity:0}100%{transform:translateX(0);opacity:1}}
.slide-in-right{animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-br{0%{transform:translateY(100%) translateX(100%);opacity:0}100%{transform:translateY(0) translateX(0);opacity:1}}
.slide-in-br{animation:slide-in-br .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-bottom{0%{transform:translateY(100%);opacity:0}100%{transform:translateY(0);opacity:1}}
.slide-in-bottom{animation:slide-in-bottom .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-bl{0%{transform:translateY(100%) translateX(-100%);opacity:0}100%{transform:translateY(0) translateX(0);opacity:1}}
.slide-in-bl{animation:slide-in-bl .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-left{0%{transform:translateX(-100%);opacity:0}100%{transform:translateX(0);opacity:1}}
.slide-in-left{animation:slide-in-left .5s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-in-tl{0%{transform:translateY(-100%) translateX(-100%);opacity:0}100%{transform:translateY(0) translateX(0);opacity:1}}
.slide-in-tl{animation:slide-in-tl .5s cubic-bezier(.25,.46,.45,.94) both}

/*弹跳*/
@keyframes bounce-in-top{0%{transform:translateY(-500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(-65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(-28px);-webkit-animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(-8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
.bounce-in-top{animation:bounce-in-top 1.1s both}

@keyframes bounce-in-right{0%{transform:translateX(600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(32px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}
.bounce-in-right{animation:bounce-in-right 1.1s both}

@keyframes bounce-in-bottom{0%{transform:translateY(500px);animation-timing-function:ease-in;opacity:0}38%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateY(65px);animation-timing-function:ease-in}72%{transform:translateY(0);animation-timing-function:ease-out}81%{transform:translateY(28px);animation-timing-function:ease-in}90%{transform:translateY(0);animation-timing-function:ease-out}95%{transform:translateY(8px);animation-timing-function:ease-in}100%{transform:translateY(0);animation-timing-function:ease-out}}
.bounce-in-bottom{animation:bounce-in-bottom 1.1s both}

@keyframes bounce-in-left{0%{transform:translateX(-600px);animation-timing-function:ease-in;opacity:0}38%{transform:translateX(0);animation-timing-function:ease-out;opacity:1}55%{transform:translateX(-68px);animation-timing-function:ease-in}72%{transform:translateX(0);animation-timing-function:ease-out}81%{transform:translateX(-28px);animation-timing-function:ease-in}90%{transform:translateX(0);animation-timing-function:ease-out}95%{transform:translateX(-8px);animation-timing-function:ease-in}100%{transform:translateX(0);animation-timing-function:ease-out}}
.bounce-in-left{animation:bounce-in-left 1.1s both}

@keyframes bounce-in-fwd{0%{transform:scale(0);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(.7);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(.84);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(.95);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}
.bounce-in-fwd{animation:bounce-in-fwd 1.1s both}

@keyframes bounce-in-bck{0%{transform:scale(7);animation-timing-function:ease-in;opacity:0}38%{transform:scale(1);animation-timing-function:ease-out;opacity:1}55%{transform:scale(1.5);animation-timing-function:ease-in}72%{transform:scale(1);animation-timing-function:ease-out}81%{transform:scale(1.24);animation-timing-function:ease-in}89%{transform:scale(1);animation-timing-function:ease-out}95%{transform:scale(1.04);animation-timing-function:ease-in}100%{transform:scale(1);animation-timing-function:ease-out}}
.bounce-in-bck{animation:bounce-in-bck 1.1s both}



@keyframes fade-in{0%{opacity:0}100%{opacity:1}}
.fade-in-center{animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-fwd{0%{transform:translateZ(-80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
.fade-in-fwd{animation:fade-in-fwd .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-bck{0%{transform:translateZ(80px);opacity:0}100%{transform:translateZ(0);opacity:1}}
.fade-in-bck{animation:fade-in-bck .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-top{0%{transform:translateY(-50px);opacity:0}100%{transform:translateY(0);opacity:1}}
.fade-in-top{animation:fade-in-top .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-tr{0%{transform:translateX(50px) translateY(-50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}
.fade-in-tr{animation:fade-in-tr .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-right{0%{transform:translateX(50px);opacity:0}100%{transform:translateX(0);opacity:1}}
.fade-in-right{animation:fade-in-right .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-br{0%{transform:translateX(50px) translateY(50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}
.fade-in-br{animation:fade-in-br .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-bottom{0%{transform:translateY(50px);opacity:0}100%{transform:translateY(0);opacity:1}}
.fade-in-bottom{animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-bl{0%{transform:translateX(-50px) translateY(50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}
.fade-in-bl{animation:fade-in-bl .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-left{0%{transform:translateX(-50px);opacity:0}100%{transform:translateX(0);opacity:1}}
.fade-in-left{animation:fade-in-left .6s cubic-bezier(.39,.575,.565,1.000) both}

@keyframes fade-in-tl{0%{transform:translateX(-50px) translateY(-50px);opacity:0}100%{transform:translateX(0) translateY(0);opacity:1}}
.fade-in-tl{animation:fade-in-tl .6s cubic-bezier(.39,.575,.565,1.000) both}


