
.icon-check-1:before { content: '\e800'; } /* '' */
.icon-doc-landscape:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-sort-alphabet:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-picture-1:before { content: '\e809'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-plus-1:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e812'; } /* '' */
.icon-check-empty-1:before { content: '\f096'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */