
.icon-check-1:before { content: '\e800'; } /* '' */
.icon-doc-landscape:before { content: '\e801'; } /* '' */
.icon-eye:before { content: '\e802'; } /* '' */
.icon-trash-empty:before { content: '\e803'; } /* '' */
.icon-eye-off:before { content: '\e804'; } /* '' */
.icon-align-left:before { content: '\e805'; } /* '' */
.icon-sort-alphabet:before { content: '\e806'; } /* '' */
.icon-th-list:before { content: '\e807'; } /* '' */
.icon-align-center:before { content: '\e808'; } /* '' */
.icon-picture-1:before { content: '\e809'; } /* '' */
.icon-align-right:before { content: '\e80a'; } /* '' */
.icon-right-dir:before { content: '\e80b'; } /* '' */
.icon-bold:before { content: '\e80c'; } /* '' */
.icon-plus-1:before { content: '\e811'; } /* '' */
.icon-minus-1:before { content: '\e812'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet-1:before { content: '\f10a'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sticky-note-o:before { content: '\f24a'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */