.left-aside-content {
  .el-tabs__item {
    color:rgba(153, 169, 191, 0.6);
    padding: 0 10px;
    &.is-active {
      color: #eee;
    }
  }
}

.left-block {
  
  .el-tabs__active-bar {
    background-color: rgba(153, 169, 191, 1);
  }

  .block-title {
    background-color: rgba(255,255,255,.2);
    padding: 6px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    color: #ccc;
  }
  .block-list {
    display: flex;
    flex-wrap: wrap;
    .object-item {
      margin: 6px;
      width: 98px;
      height: 98px;
      display: flex;
      justify-content: center;
      align-items: center;
      .shape {
        width: 60px;
        height: 60px;
      }
    }
  }
}